.bodyContainer {
  position: relative;
  height: 98%;
  width: 100%;
  padding: 1%;
  z-index: auto;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: auto;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  padding:15px;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.iconsContainer {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
}

.image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.image:hover {
  cursor: pointer;
}

.imageContainer {
  height: 25px;
  width: 25px;
  margin-left: 20px;
}

.imageContainer .imageContainerText {
  visibility: hidden;
  background-color: black;
  opacity: 80%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  width: 120px;
  padding: 5px 15px;
  font-size: 14px;
  position:absolute;
  display:block;
  top: 105%;
  margin-left: -30%;
}

.imageContainer:hover .imageContainerText {
  visibility: visible;
}

.imageSquare {
  height: 20px;
  width: 20px;
}

.imageSquare:hover {
  cursor: pointer;
}

.inviteButton {
  margin: auto 15px;
  display: flex;
  align-items: center;
  background-color: white;
  color: #0070f3;
  font-size: 14px;
  border: 1px solid #0070f3;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  height: 30px;
}

.inviteButton:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.name {
  margin-right: 5px;
  font-size: 16px;
  color: grey;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  z-index: 7;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar {
  position: static;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eaeaea;
  z-index: 2;
}

.navBarContent {
  display: flex;
  text-align: center;
  width: 100%;
}

.navbarItemLeft {
  position: absolute;
  left: 0px;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  height: 40px;
}

.navbarItemCenter {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  height: 40px;
  width: 100%;
}

.navbarItemRight {
  position: absolute;
  right: 10px;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  height: 40px;
}

.navbarLink {
  font-size: 18px;
}

.navbarLink:hover {
  color: #0070f3;
  cursor: pointer;
}
