.bodyContainer {
  position: relative;
  height: 98%;
  width: 100%;
  margin-top: 50px;
  padding: 1%;
  overflow-y: auto;
  z-index: auto;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
  z-index: auto;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  padding:15px;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image {
  border: 1px solid #0070f3;
  border-radius: 50%;
}

.image:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eaeaea;
  z-index: 2;
}

.navBarContent {
  display: flex;
  text-align: center;
  width: 100%;
}

.navbarItemLeft {
  position: absolute;
  left: 0px;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  height: 40px;
}

.navbarItemCenter {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  height: 40px;
  width: 100%;
}

.navbarItemRight {
  position: absolute;
  right: 0px;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  height: 40px;
}

.navbarLink {
  font-size: 18px;
}

.navbarLink:hover {
  color: #0070f3;
  cursor: pointer;
}
