.container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: white;
  padding-left: 16px;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdownButton {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 0;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.dropdownButton:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.dropdownButton:disabled {
  cursor: default;
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 6;
}

.dropdownRow {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: white;
  padding-left: 16px;
}

.dropdownRow:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.image {
  left: 0;
  border-radius: 50%;
}

.loader {
  position:fixed;
  margin: 5.5% 11%;
  right: 0px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.removeInviteeButton {
  margin: 10px auto;
  display: block;
  background-color: white;
  color: #0070f3;
  font-size: 12px;
  border: 1px solid #0070f3;
  border-radius: 10px;
  padding: auto 15px;
  text-align: center;
  height: 20px;
}

.removeInviteeButton:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.request {
  position: block;
  width: 100%;
  margin-bottom: 15px;
}

.requestButton {
  margin: 0px auto;
  display: block;
  background-color: #0070f3;
  color:  white;
  border: 1px solid #0070f3;
  font-size: 16px;
  border-radius: 16px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
}

.requestButton:hover {
  cursor: pointer;
}

.requestButton:disabled {
  opacity: 50%;
  cursor: default;
}

.requestSelector:disabled {
  background-color: white;
  cursor: auto;
}

.searchBar {
  width: 100%;
  height: 40px;
  min-width: 315px;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  border-radius: 16px;
  padding-left: 16px;
}
