.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom:5%;
}

.main {
  height: 100%;
  top: 0px;
  bottom: 0px;
  text-align: center;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.registrationButton {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 64px;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.textlink {
  margin-top: 1%;
  color: #0070f3;
  font-size: 14px;
  font-weight: normal;
  align-items: center;
}

.title {
  margin-top: 7%;
  margin-bottom: 5%;
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}
