.buttonContainer {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

.buttonFollow {
  margin-left: auto;
  background-color: white;
  color: #0070f3;
  font-size: 14px;
  border: 1px solid #0070f3;
  border-radius: 20px;
  padding: 0px 10px;
  height: 30px;
}

.buttonFollow:hover{
  cursor: pointer;
  background-color: #F5F5F5;
}

.buttonUnfollow {
  margin-left: auto;
  background-color: white;
  color: grey;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 0px 10px;
  height: 30px;
}

.buttonUnfollow:hover{
  cursor:pointer;
  background-color: #F5F5F5;
}

.inviteButton {
  margin-right: 15px;
  margin-left: auto;
  align-items: center;
  background-color: #0070f3;
  color:  white;
  border: 1px solid #0070f3;
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 32px;
  height: 50px;
}

.inviteButton:hover {
  cursor: pointer;
  opacity: 60%;
}

.leaveStreamButton {
  margin-right: 25px;
  align-items: center;
  background-color: white;
  color:  #0070f3;
  border: 1px solid #0070f3;
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 32px;
  height: 50px;
}

.leaveStreamButton:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.muteButton {
  margin-right: 25px;
  align-items: center;
  background-color: white;
  color:  #0070f3;
  border: 1px solid #0070f3;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 32px;
  height: 35px;
}

.muteButton:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.participantsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 5%;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.participantContainer {
  float: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 250px;
  margin-right: 20px;
  margin-left: 20px;
}

.participantImage {
  left: 0;
  border-radius: 50%;
  height: 225px;
  width: 225px;
  margin-bottom: 5px;
}

.participantName {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

.participantUsername {
  margin-bottom: 10px;
  font-size: 12px;
}

.speakerAccessibilityContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: right;
}

.time {
  margin: 0px;
  font-size: 18px;
}

.timeContainer {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.timeSubContainer {
  height: 100%;
  float: center;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.timeLabels {
  margin: 0px;
  font-size: 10px;
}

.topicContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.topicText {
  font-size: 32px;
  font-weight: 600;
}
