.bodyContainer {
  width: 100%;
  padding: 10px 8%;
}

.exitButton {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #696969;
  float: right;
  background-color: inherit;
  border: none;
}

.exitButton:hover {
  cursor: pointer;
}

.exitButtonContainer {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.header {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0070f3;
}

.invitationsContainer {
  margin-bottom: 15px;
}

.inviteButton {
  margin: 15px auto;
  display: block;
  background-color: #0070f3;
  color:  white;
  border: 1px solid #0070f3;
  font-size: 16px;
  border-radius: 16px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
}

.inviteButton:hover {
  cursor: pointer;
  opacity: 60%;
}

.inviteButton:disabled {
  opacity: 60%;
  cursor: default;
}

.inviteesContainer {
  padding-left: 10px;
  overflow: scroll;
}

.modalBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #636363;
  opacity: 80%;
  z-index: 3;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.modalContainer {
  width: 750px;
  height: 600px;
  position: fixed;
  margin: 50px auto;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  opacity: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  z-index: 4;
  overflow: scroll;
}
